.container{margin:auto;
background: rgb(221, 217, 217);}

.Cards{
width: 600px;
height: 600px;
margin:auto;
margin-bottom: 40px;
}
span{ font-family: 'Handlee', cursive;
      color: grey; font-size: large;  }

/*intente este code para los nav pills... sin exito*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{background: grey;color:white;}
